body {
  background-color: black;
  color: white;
}

.container {
  text-align: center;
  font-family: helvetica;
  background-color: black;
  color: white;
}

#cardColor {
  background-color: black;
}

.randomColor {
  color: white;
}
